{% extends 'quiz/main.html' %}
{% block main_section %}
    <!--<h5 class="text-info pb-4 border-bottom">Правила интеллектуальной игры Break Brain</h5>-->
    <p class="fs-2 fw-bolder mt-4 mb-3 text-info">Количество человек в команде</p>
    <p class="fs-5 fst-normal">От 1 до 9 игроков. Идеальный состав – от 5 человек. Если вас больше 9 человек, то вы можете разделиться и придти к нам на игру двумя командами! </p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Регистрация на игру</p>
    <p class="fs-5 fst-normal">Зарегистрироваться на игру можно онлайн на этом сайте.</p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">7 туров и 43 вопроса</p>
    <p class="fs-5 fst-normal">Каждый из 6 вопросов в 1, 2, 3, 4 и 6 турах зачитывается ведущим и демонстрируется 1 минуту. Команды вписывают ответы в специальные бланки. Затем вопросы быстро повторяются ведущим и по команде «Бланки вверх!» бланки с ответами собираются администраторами интеллектуальной игры «Break Brain». Ведущий оглашает правильные ответы и переходит к следующему туру. За каждый верный ответ команда получает 1 балл.</p>
    <p class="fs-5 fst-normal">В 5-ом туре 3 сложных вопроса по 1,5 минуты размышлений на каждый. Вопросы не повторяются. Команда может рискнуть, если твердо уверена в ответе, пометив ответ знаком +2 или +3. Если ответ верный – команда получает 2(3) балла, если нет – теряет 2(3) балла. Без пометки система оценки обычная – 1 или 0 баллов..</p>
    <p class="fs-5 fst-normal">В 7-ом туре каждый из 10 простых коротких вопросов появляется на экране всего на 30 секунд. Вопросы не повторяются. Команда может рискнуть, если твердо уверена в ответе, пометив ответ знаком +2. Если ответ верный – команда получает 2 балла, если нет – теряет 2 балла. Без пометки система оценки обычная – 1 или 0 баллов.</p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Темы туров:</p>
    <div class="fs-5 fst-normal">
        <p>1 тур — <strong>«Разминка»</strong>. Вопросы могут быть о чём угодно.</p>
        <p>2 тур — <strong>«По ту сторону экрана»</strong>. Всё о фильмах, мульфильмах и сериалах.</p>
        <p>3 тур — <strong>«Русская рулетка»</strong>. Произвольная тематика.</p>
        <p>4 тур — <strong>«Фотогалерея»</strong>. Вопросы по картинкам и изображениям.</p>
        <p>5 тур — <strong>«Мозговой штурм»</strong>. Сложные вопросы на произвольную тематику.</p>
        <p>6 тур — <strong>«Меломан»</strong>. Вопросы обо всём, что связано с музыкой.</p>
        <p>7 тур — <strong>«Блиц»</strong>. Простые вопросы на произвольную тематику.</p>
    </div>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Честная игра</p>
    <p class="fs-5 fst-normal">Мы просим сложить телефоны и прочие электронные устройства в специальные контейнеры.</p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Ничья не случится</p>
    <p class="fs-5 fst-normal">Если при финальном подсчете у нескольких команд равное количество баллов, побеждает команда, набравшая большее количество баллов в туре 7 — «Блиц». Если и после этого не выявлен победитель, смотрим результаты 5 тура  — «Мозговой штурм». Если и там поровну, смотрим на 6-ой тур, затем на 4-ый, 3-ий, 2-ой и 1-ый.</p>
    <p class="fs-5 fst-normal">Если команды набирают одинаковое количество баллов во всех турах квиза, мы выявим победителей с помощью рандомайзера.</p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Расписание</p>
    <p class="fs-5 fst-normal">Игра начинается в {{ time }}. Продолжительность - примерно 2 часа.
    После 3 и 6 туров - перерыв! Во время перерывов мы выводим на мониторы таблицу с текущими результатами, подбадривая игроков.</p>

    <p class="fs-2 fw-bolder mt-5 mb-3 text-info">Подарки</p>
    <p class="fs-5 fst-normal mb-4">У нас очень много призов: крутых, вкусных, смешных  и утешительных.</p>
    <br>
{% endblock main_section %}
