{% extends 'quiz/main.html' %}
{% load static %}
{% block main_section %}
    <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-12 col-sm-12 col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><span class="text-info">Интеллектуальная игра BREAK BRAIN</span></h1>
            <p class="lead"><span>“BREAK BRAIN” - это увлекательная интеллектуальная игра, которая проверит ваши знания и логику. В этой игре вы столкнетесь с интересными вопросами и задачами, которые заставят ваш мозг работать на полную мощность.</span></p>
        </div>
        <div class="col-12 col-sm-12 col-lg-6">
            <img src="{% static 'quiz/img/break-brain.png' %}" class="d-block mx-lg-auto img-fluid img-thumbnail" alt="Темы для начальной загрузки" width="1023" height="576" loading="lazy">
        </div>
    </div>
    {% if quiz_game %}
    <h5 class="text-info pb-4">Ближайшие игры</h5>
    <div class="row">
        {% for game in quiz_game %}
            <div class="col-sm-12 col-lg-6 col-xl-4 col-xxl-3 mb-4">
                <h6 class="d-inline-block">{{ game.date | date:"l" }},</h6><span class="text-primary"> {{ game.date | date:"d M" }}</span>
                {% if  game.visible == True %}
                <div id="card-game" class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ game.name }}</h4>
                        <div class="d-flex">
                            {% if game.level == 'Для новичков' %}
                                <span class="flex-fill col-8 p-1 card-title bg-success bg-gradient border border-light text-light text-center">{{ game.level }}</span>
                                <a type="button" class="col-4 p-1 card-title btn btn-secondary border border-light text-light text-center rounded-pill rounded-start" data-bs-toggle="dropdown" aria-expanded="false">
                                    Что это?
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0 border-0">
                                    <div id="drop-popover" class="card">
                                        <div class="card-header">
                                            <h3 class="font-card">{{ game.level }}</h3>
                                        </div>
                                        <div class="card-body font-body">
                                            <span>Игры, которые предназначены для начинающих игроков интеллектуальной игры Break Brain.</span>
                                        </div>
                                    </div>
                                </div>
                            {% elif game.level == 'Классическая' %}
                                <span class="flex-fill col-8 p-1 card-title bg-primary bg-gradient border border-light text-light text-center">{{ game.level }}</span>
                                <a type="button" class="col-4 p-1 card-title btn btn-secondary border border-light text-light text-center rounded-pill rounded-start" data-bs-toggle="dropdown" aria-expanded="false">
                                    Что это?
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0 border-0">
                                    <div id="drop-popover" class="card">
                                        <div class="card-header">
                                            <h3 class="font-card">{{ game.level }}</h3>
                                        </div>
                                        <div class="card-body font-body">
                                            <span>Игры, которые предназначены для опытных игроков интеллектуальной игры Break Brain.</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/geo-alt-fill.svg' %}" alt="" width="18" height="18" class="me-2 align-items-center">
                            <a href="{{ game.place.link }}" class="card-text link-danger text-decoration-none" target="_blank">{{ game.place }}</a>
                            <!--<p class="card-text text-danger">{# game.place #}</p>-->
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/clock.svg' %}" alt="" width="18" height="18" class="me-2">
                            <p class="card-text">{{ game.date | time:"G:i" }}</p>
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/cash.svg' %}" alt="" width="18" height="18" class="me-2">
                            <p class="card-text">{{ game.price }} руб./чел.</p>
                        </div>
                        <button class="btn btn-cyan mt-2" data-bs-toggle="modal" data-bs-target="#modal_{{ game.id }}">Регистрация</button>
                    </div>
                </div>
                {% else %}
                <div id="card-game" class="card bg-info">
                    <div class="card-body">
                        <h4 class="card-title text-light">{{ game.name }}</h4>
                        <div class="d-flex">
                            {% if game.level == 'Для новичков' %}
                                <span class="flex-fill col-8 p-1 card-title bg-success bg-gradient border border-cyan text-light text-center">{{ game.level }}</span>
                                <a type="button" class="col-4 p-1 card-title btn btn-secondary border border-cyan text-light text-center rounded-pill rounded-start" data-bs-toggle="dropdown" aria-expanded="false">
                                    Что это?
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0 border-0">
                                    <div id="drop-popover" class="card">
                                        <div class="card-header">
                                            <h3 class="font-card">{{ game.level }}</h3>
                                        </div>
                                        <div class="card-body font-body">
                                            <span>Игры, которые предназначены для начинающих игроков интеллектуальной игры Break Brain.</span>
                                        </div>
                                    </div>
                                </div>
                            {% elif game.level == 'Классическая' %}
                                <span class="flex-fill col-8 p-1 card-title bg-primary bg-gradient border border-cyan text-light text-center">{{ game.level }}</span>
                                <a type="button" class="col-4 p-1 card-title btn btn-secondary border border-cyan text-light text-center rounded-pill rounded-start" data-bs-toggle="dropdown" aria-expanded="false">
                                    Что это?
                                </a>
                                <div class="dropdown-menu dropdown-menu-end p-0 border-0">
                                    <div id="drop-popover" class="card">
                                        <div class="card-header">
                                            <h3 class="font-card">{{ game.level }}</h3>
                                        </div>
                                        <div class="card-body font-body">
                                            <span>Игры, которые предназначены для опытных игроков интеллектуальной игры Break Brain.</span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/geo-alt-fill.svg' %}" alt="" width="18" height="18" class="me-2 align-items-center">
                            <a href="{{ game.place.link }}" class="card-text link-light text-decoration-none" target="_blank">{{ game.place }}</a>
                            <!--<p class="card-text text-danger">{# game.place #}</p>-->
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/clock.svg' %}" alt="" width="18" height="18" class="me-2">
                            <p class="card-text text-light">{{ game.date | time:"G:i" }}</p>
                        </div>
                        <div class="d-flex text-center align-items-center mb-2">
                            <img src="{% static 'quiz/img/cash.svg' %}" alt="" width="18" height="18" class="me-2">
                            <p class="card-text text-light">{{ game.price }} руб./чел.</p>
                        </div>
                        <button class="btn btn-light mt-2" data-bs-toggle="modal" data-bs-target="#modal_{{ game.id }}" disabled>Регистрация закрыта</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal_{{ game.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal_{{ game.id }}Label" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info border-cyan border-start border-end border-top rounded-top d-flex">
                        <span class="col-1"></span>
                        <h5 class="modal-title text-light col-10 justify-content-center text-center" id="exampleModalLabel">Быстрая регистрация</h5>
                        <button type="button" class="btn-close btn-close-white d-flex col-1 justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <form id="write-quiz_{{ game.id }}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <!--Название команды-->
                                <div class="mb-3">
                                    {{ form.name_team }}
                                    <div class="invalid-feedback" id="invalid-feedback-name_team"></div>
                                </div>
                                <!--Капитан команды-->
                                <div class="mb-3">
                                    {{ form.name_leader }}
                                    <div class="invalid-feedback" id="invalid-feedback-name_leader"></div>
                                </div>
                                <!--Номер телефона-->
                                <div class="mb-3">
                                    {{ form.phone_number }}
                                    <div class="invalid-feedback" id="invalid-feedback-phone_number"></div>
                                </div>
                                <!--email-->
                                <div class="mb-3">
                                    {{ form.email }}
                                    <div class="invalid-feedback" id="invalid-feedback-email"></div>
                                </div>
                                <!--Количество человек-->
                                <div class="mb-3">
                                    <div class="d-flex justify-content-center mb-2">
                                        <img src="{% static 'quiz/img/person-badge.svg' %}" alt="" width="25" height="25" class="me-1">
                                        <span class="text-info">x</span>
                                        <span class="text-info" id="currentValue{{ game.id }}">5</span>
                                    </div>
                                    <script>
                                        function displayrange{{ game.id }}(myValue){
                                            document.getElementById("currentValue{{ game.id }}").innerHTML = myValue;
                                        }
                                    </script>
                                    <div class="d-flex flex-row">
                                        <span class="text-muted">1</span>
                                        <input id="count_players" name="count_players" type="range" class="form-range mx-2" oninput="displayrange{{ game.id }}(this.value)" value="5" min="1" max="9" step="1"/>
                                        <span class="text-muted">9</span>
                                    </div>
                                    {# form.count_players #}
                                </div>
                                <!--Заведение-->
                                <div class="mb-3">
                                    <div class="form-check-custom mb-2">
                                        <input class="form-check-custom-input" type="radio" name="quiz_game_{{ game.id }}" id="quiz_game_{{ game.id }}" value="{{ game.id }}" checked>
                                        <label class="form-check-custom-label" for="quiz_game_{{ game.id }}">{{ game.name }}, {{ game.date | date:"l" | lower }}, {{ game.date | date:"d M" | lower }} ({{ game.place.name }} - {{ game.place.address }})</label>
                                    </div>
                                    {# form.quiz_game_ #}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a class="link-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Комментарий к регистрации
                                    </a>
                                </div>
                                <!--Комментарий-->
                                <div class="collapse mt-3" id="collapseExample">
                                    <div class="mb-3">
                                        {{ form.comment }}
                                        <div class="invalid-feedback" id="invalid-feedback-comment"></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-2">
                                    <a class="link-secondary" data-bs-toggle="collapse" href="#certificatelink" role="button" aria-expanded="false" aria-controls="certificate">
                                        У меня сертификат
                                    </a>
                                </div>
                                <!--Сертификат-->
                                <div class="collapse my-3" id="certificatelink">
                                    <div class="mb-3">
                                        {{ form.certificate }}
                                        <div class="invalid-feedback" id="invalid-feedback-certificate"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex flex-column">
                                <div class="justify-content-center text-center">
                                    <span class="text-muted">Нажимая кнопку ГОТОВО, вы подтверждаете, что ваша команда ознакомлена и принимает в полном объеме условия <a href="{% url 'quiz-user_agreement' %}" class="link-secondary">Пользовательского соглашения</a> и <a href="{% url 'quiz-game_rules' game=game.name time=game.date|time:"G:i" %}" class="link-secondary">Правила игры</a>.</span>
                                </div>
                                 <div class="justify-content-center">
                                    <button type="submit" class="btn btn-cyan rounded-pill">Готово</button>
                                </div>
                                <div class="justify-content-center">
                                    <span class="text-muted">Оплата только наличными!</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock main_section %}