{% extends 'quiz/main.html' %}
{% load static %}
{% block main_section %}
    <div class="container-fluid py-5">
        <img src="{% static 'quiz/img/forms.png' %}" class="d-block mx-lg-auto img-fluid img-thumbnail" alt="Blank>" width="1023" height="576" loading="lazy">
        <p class="fs-2 fw-bolder mt-5 mb-5 text-info text-center">Правила игры</p>
        <div class="fs-5 fst-normal text-center">
            <p class="mb-0"><strong>7 туров по 3–10 вопросов.</strong></p>
            <p class="mb-0"><strong>Перерывы после 3 и 6 туров.</strong></p>
            <p class="mb-0"><strong>После каждого вопроса ответ записывается в бланк.</strong></p>
            <p class="mb-0"><strong>В конце каждого тура бланк с ответами сдается.</strong></p>
        </div>
        <p class="fs-2 fw-bolder mt-5 mb-5 text-info text-center">Туры</p>
        <div class="fs-5 fst-normal row">
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">1 тур — <strong>«Разминка»</strong></p><p class="mb-4">Вопросы могут быть о чём угодно.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">2 тур — <strong>«По ту сторону экрана»</strong></p><p class="mb-4">Всё о фильмах, мульфильмах и сериалах.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">3 тур — <strong>«Русская рулетка»</strong></p><p class="mb-4">Произвольная тематика.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">4 тур — <strong>«Фотогалерея»</strong></p><p class="mb-4">Вопросы по картинкам и изображениям.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">5 тур — <strong>«Мозговой штурм»</strong></p><p class="mb-4">Сложные вопросы на произвольную тематику.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">6 тур — <strong>«Меломан»</strong></p><p class="mb-4">Вопросы обо всём, что связано с музыкой.</p></div>
            <div class="col-sm-12 col-md-6 col-lg-4"><p class="mb-0">7 тур — <strong>«Блиц»</strong></p><p class="mb-4">Простые вопросы на произвольную тематику.</p></div>
        </div>
    </div>
{% endblock main_section %}
